*{}

header{
	
	
		padding: 2.1em ;
	background-color:	#006400;
	
}
header #log-in{
	text-align:right;
	
}
header a{
	text-decoration: none;
	color:black;
	font-size:1.125em;
}


h1{
	font-size:3.125em ;
	text-align:center;
}


Body{
}
main{
	
	
  align-items: center;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  font-size:1.25em;
  text-align:center;
}
main ul{
	text-align:left;
	
}
.Buttons button{
	margin: 3.125em 12.5em;

	display: inline-block;
  border-radius: 3.125em;
  background-color: #909090;
  border: none;
  color: black;
  text-align: center;
  font-size: 1.75em;
  
	padding: 3.125em 3.75px;
  width: 60%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.3125em 3.8em;
}

.Buttons button:hover {

  background-color: #A9A9A9;
  color: black;


}
.Buttons button:active {
 /* background-color: #3e8e41;*/
  box-shadow: 0 2px #666;
  transform: translateY(7px);
}


.animal h3{
	font-size:0.5em ;
	text-align:center;
	
}
.animal h2{
	font-size:1.0em ;
	text-align:center;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
 /* background-color: #2196F3;*/
  padding: 10px;
}

.grid-item {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


#extra-reasons ul{

	font-size:1.5em;
}
.quotes {
	display:flex;
	  background-color:white;
 justify-content: space-between;

}
.quotes footer{
	background-color:white;
font-size:0.75em;
	font-style:italic;
	text-align:right;
	
	
}
.quotes blockquote {
	
	border:5px; 
	border-style:solid; 
	border-color:#006400;
	
}
.quotes blockquote footer::before {
  content: "- "
}



#account-creation{
	margin:4em;
	text-align:center;
	
	
}
.col-md-6 dash-component


footer{
	
	background-color:#006400;
	
  

	
}
#page-footer{
	background-color:#006400;
	

 
}
